{% layout "mainLayout.liquid" %}
{% block pageTitle %}About us{% endblock %}
{% block content %}
<!--about us content-->

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>We are the world's largest university</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eum quo excepturi magnam quod ipsam,
                temporibus quam libero beatae! Atque dolore qui iure voluptatem ipsa quis odit minus. Aspernatur,
                corrupti?</p>
            <a href="" class="hero-btn red-btn">Explore Now</a>
        </div>
        <div class="about-col">
            <img src="images/about.jpg" alt="about">
        </div>
    </div>


</section>
{% endblock %}