{% layout "mainLayout.liquid" %}
{% block pageTitle %}Course{% endblock %}
{% block content %}

<!-- Course -->

<section class="course">
    <h1>Courses we offer</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque deserunt nostrum quibusdam fugit culpa vel
        natus minus dolorum nam hic, qui saepe, unde praesentium consectetur distinctio libero earum molestiae iste.
    </p>

    <div class="row">
        <div class="course-col">
            <h3>CSE</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero magni pariatur quaerat, modi, eum
                veritatis soluta omnis, odio ipsam at autem. Laboriosam rerum consectetur modi, qui tempore dolorum
                odit harum!</p>
        </div>
        <div class="course-col">
            <h3>EEE</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero magni pariatur quaerat, modi, eum
                veritatis soluta omnis, odio ipsam at autem. Laboriosam rerum consectetur modi, qui tempore dolorum
                odit harum!</p>
        </div>
        <div class="course-col">
            <h3>Civil</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero magni pariatur quaerat, modi, eum
                veritatis soluta omnis, odio ipsam at autem. Laboriosam rerum consectetur modi, qui tempore dolorum
                odit harum!</p>
        </div>
    </div>

</section>


<!--  Facilities -->

<section class="facilities">
    <h1>Our Facilities</h1>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="images/library.png">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facilis magnam repellat! Obcaecati,
                quis libero quisquam dignissimos aspernatur molestiae perferendis nisi soluta est, temporibus ipsa a
                laboriosam explicabo veniam aperiam.</p>
        </div>
        <div class="facilities-col">
            <img src="images/basketball.png">
            <h3>Largest Playground</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facilis magnam repellat! Obcaecati,
                quis libero quisquam dignissimos aspernatur molestiae perferendis nisi soluta est, temporibus ipsa a
                laboriosam explicabo veniam aperiam.</p>
        </div>
        <div class="facilities-col">
            <img src="images/cafeteria.png">
            <h3>Tasty And Healthy Food </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facilis magnam repellat! Obcaecati,
                quis libero quisquam dignissimos aspernatur molestiae perferendis nisi soluta est, temporibus ipsa a
                laboriosam explicabo veniam aperiam.</p>
        </div>
    </div>
</section>
{% endblock %}